body {
  margin: 0;
  padding: 0;
}

header .headermain {
  font-size: 1.7em;
  margin-top: -14px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-wrap: nowrap;
}
header .askhn {
  display: inline-block;
  color: #fcfcfc;
  border: 3px solid #fcfcfc;
  margin: 15px 0 0px 24px;
  padding: 6px;
}
header .who {
  color: #000;
  margin: 23px 0 0 6px;
  padding: 0px;
}